<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Pokedex </title>



</head>

<body>
    <h1>Edit Pokemon Page</h1>

    <form action="/<%= idx %>?_method=PUT" method="POST">
        <!--  NOTE: the form is pre-populated with values for the server-->


        Name: <input type="text" name="name" value="<%= pokemon.name %>" /><br />
        
        Image: <input type="file" name="image" value="<%=pokemon.img%>" /><br />

        type: <input type="text" name="type" value="<%=pokemon.type%>" /><br />
        HP: <input type="number" name="HP" value="<%=pokemon.stats.hp %>" /><br />
        Attack: <input type="number" name="attack" value="<%=pokemon.stats.attack%>" /><br />
        defense: <input type="number" name="defense" value="<%=pokemon.stats.defense%>" /><br />
        speed: <input type="number" name="speed" value="<%=pokemon.stats.speed%>" /><br />
        move: <input type="text" name="move" value="<%=pokemon.moves.level[0].name%>" /><br />


        
        
        
        <br />
            <input type="submit" name="" value="Submit Changes" />

    </form>
</body>

</html>