<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex App</title>
</head>
<body>
    <h1>Add a New Pokemon</h1>
    <a href="/pokemon">Back to the Pokedex index</a>
    <form action="/pokemon" method="post">
        Name: <input type="text" name="name"><br>
        type: <input type="text" name="type"><br>






        ID: <input type="number" name="HP"  /><br />

        Name: <input type="text" name="name"  /><br />
        
        Image: <input type="text" name="image" /><br />

        type: <input type="text" name="type" value="<%=pokemon.type%>" /><br />
        HP: <input type="number" name="HP" value="<%=pokemon.stats.hp %>" /><br />
        Attack: <input type="number" name="attack" value="<%=pokemon.stats.attack%>" /><br />
        defense: <input type="number" name="defense" value="<%=pokemon.stats.defense%>" /><br 
        speed: <input type="number" name="speed" value="<%=pokemon.stats.speed%>" /><br />
        move: <input type="text" name="move" value="<%=pokemon.moves.level[0].name%>" /><br />
     
        <input type="submit" value="Create Pokemon">
    </form>
</body>
</html>