<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex App</title>
</head>
<body>


    <h1>Pokemon Show Page</h1>
    <a href="/pokemon">Back to Pokedex Index</a>
   
   
   
    <h2> <%= foundPokemon.name %></h2>
    

    <img src= <%= foundPokemon.img %> <a/> </td>


   
    <h3> Pokemon Type: <%= foundPokemon.type %> </h3>
<table>
    <tr>
<td> HP:  <%= foundPokemon.stats.hp %> </td> 

<td> Attack:  <%= foundPokemon.stats.attack %> </td> 

<td> Defense:  <%= foundPokemon.stats.defense %> </td> 

<td>  Speed: <%= foundPokemon.stats.speed %> </td> 

<td> Move:  <%= foundPokemon.moves.level[0].name %> </td> 
    </tr>

<tr>
    <td>    
   
    <form action="/pokemon/<%= foundPokemon %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" />
        </form> 
    </td>
    <td>   
    <a href="/pokemon/edit" type="button" >edit</a>
    </td>
</tr>

</table>

   
    
</body>
</html>